<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Launch File Arguments -->
  <arg name="project" default="cvr_lse"/>
  <arg name="lidar_topic" default="/points_raw"/>
  <arg name="imu_topic" default="/imu_raw"/>
  <arg name="lidar_frame" default="/velodyne"/>
  <arg name="lidar_sensor" default="velodyne"/>

  <!-- Dataset Arguments -->
  <arg name="use_kitti_settings" default="false"/>
  <arg name="use_fieldsafe_settings" default="false"/>

  <!-- Configuration Parameters -->
  <param name="/use_sim_time" value="true"/>

  <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />
  <rosparam command="load" subst_value="True">
lio_sam:
  # Topics
  pointCloudTopic: "$(arg lidar_topic)"
  imuTopic: "$(arg imu_topic)"

  # Frames
  lidarFrame: "$(arg lidar_frame)"

  # Sensor Settings
  sensor: "$(arg lidar_sensor)"

  # CPU Params
  numberOfCores: 3
  </rosparam>
  <rosparam command="load" if="$(eval use_kitti_settings and not use_fieldsafe_settings)">
lio_sam:
  # Sensor Settings
  N_SCAN: 64
  downsampleRate: 4
  
  # IMU Settings
  extrinsicTrans: [-8.086759e-01, 3.195559e-01, -7.997231e-01]
  extrinsicRot: [  9.999976e-01, 7.553071e-04, -2.035826e-03,
                  -7.854027e-04, 9.998898e-01, -1.482298e-02,
                   2.024406e-03, 1.482454e-02,  9.998881e-01]
  </rosparam>
  <rosparam command="load" if="$(eval not use_kitti_settings and use_fieldsafe_settings)">
lio_sam:
  # Sensor Settings
  N_SCAN: 32
  downsampleRate: 2
  
  # IMU Settings
  extrinsicTrans: [-0.180, 0.295, -2.384]
  extrinsicRot: [ -1.0,  0.0,  0.0,
                   0.0, -1.0,  0.0,
                   0.0,  0.0,  1.0]
  </rosparam>
  
  <!-- LIO-SAM SLAM Processes -->
  <!--- LOAM -->
  <include file="$(find lio_sam)/launch/include/module_loam.launch" />

  <!--- Robot State TF -->
  <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

  <!--- Run Navsat -->
  <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

  <!-- Segmentation/Obstacle Detection -->
  <node name="ground_segmentation" pkg="cvr_lse" type="ground_segmentation" output="screen">
    <rosparam command="load" file="$(find cvr_lse)/config/segmentation_params.yaml"/>
    <param name = "lidar_topic" value = "$(arg lidar_topic)" />
    <param name = "cloud_label_topic" value = "/ground_segmentation/cloud_label" />
  </node>
  
  <!-- Process for Compact Vectorized Representation of Local Static Environments -->
  <node name="$(arg project)" pkg="cvr_lse" type="cvr_lse" output="screen">
    <rosparam command="load" file="$(find cvr_lse)/config/cvr_lse_params.yaml"/>
    <rosparam command="load" file="$(find cvr_lse)/config/cvr_lse_params_kitti.yaml" if="$(eval use_kitti_settings and not use_fieldsafe_settings)"/>
    <rosparam command="load" file="$(find cvr_lse)/config/cvr_lse_params_fieldsafe.yaml" if="$(eval not use_kitti_settings and use_fieldsafe_settings)"/>

    <param name = "lidar_topic" value = "$(arg lidar_topic)" />
    <param name = "cloud_label_topic" value = "/ground_segmentation/cloud_label"/>
    <param name = "lidar_odom_topic" value = "/odometry/imu" />
    <param name = "ground_output_topic" value = "/cvr_lse/ground_cloud" />
    <param name = "obstacle_output_topic" value = "/cvr_lse/obstacle_cloud" />
    <param name = "lidar_frame" value = "$(arg lidar_frame)"/>
  </node>

  <!-- Visualization of Results -->
  <node pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find cvr_lse)/config/rviz.rviz" />
</launch>
